
#box1 {float: left;
    border-style: solid;
    padding: 20px;
    padding-top: 10px;
    border-radius: 10px;
    width: 20%;
    background: lightblue;
    
    
}
#box2{float: left;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    background: lightblue;
    margin-left: 50px;
    text-align: center;
}

#box3 {
    border-style: solid;
    padding: 20px;
    padding-top: 10px;
    border-radius: 10px;
    width: 20%;
    background: lightblue;
    margin-top: 10px;
    text-align: center;
    float: left;
    clear:both;
}

#box4 {
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    background: lightblue;
    text-align: center;
    float: right;
    margin-right: 883px;
    margin-top: 10px;

}